footer {
    border-top: 1px solid #eee;
    color: #000;
    font-size: 13px;
    padding: 25px 0;
    text-align: center;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}